.label-matcher {
    padding: 5px;
	border: solid #2d2d2d;
    word-wrap: none;
}

.delete-label-button {
    height: 100%;
    background: inherit;
    border: none;
    border-left: solid #2d2d2d;
}
