.silence-form {
	display: flex;
	flex-direction: column;
}

.silence-form > div {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.silence-form > div > label {
	font-weight: bold;
	font-size: 24px;
}

.silence-form > * > input[type="text"] {
	font-size: 20px;
}
