.alert-view {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.alert-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}
