.single {
  padding: 10px;
  border-radius: 5px;
  border: solid #2d2d2d;
  margin: 10px;
}

.single-top {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
}

.labels {
  margin-top: 5px;
  padding: 10px;
}

.label {
  border: solid #2d2d2d;
  margin: 5px 10px 5px -5px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.label:hover {
  background: #2d2d2d;
}

.alert-link {
  color: inherit;
  text-decoration: inherit;
}
